* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282828;
}

.container {
  background: rgb(192, 87, 87);
  padding: 100px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

h2 {
  margin-bottom: 15px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(161, 45, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input:hover,
button:hover {
  box-shadow: 0 0 15px 8px rgba(167, 78, 231, 0.6);
  transform: scale(1.02);
  transition: all ease 0.3s;
  cursor: pointer;
}

p {
  margin-top: 10px;
  font-size: 14px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.vis{
  visibility: visible;
}

.name {
  font-size: 30px;
  margin-bottom: 50px;
  color: rgb(168, 82, 168);
}
